<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Launchwares.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Launchwares.Properties.Settings>
      <setting name="Location_GtaV" serializeAs="String">
        <value />
      </setting>
      <setting name="Location_FiveM" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="UsingSoundpack" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogoPath" serializeAs="String">
        <value />
      </setting>
      <setting name="RPCId" serializeAs="String">
        <value>716916729195921448</value>
      </setting>
      <setting name="RPCLargeImageKey" serializeAs="String">
        <value>logo</value>
      </setting>
      <setting name="RPCLargeImageText" serializeAs="String">
        <value>Launcher</value>
      </setting>
      <setting name="RPCSmallImageKey" serializeAs="String">
        <value>discordx512</value>
      </setting>
      <setting name="RPCSmallImageText" serializeAs="String">
        <value>www.launchwares.com</value>
      </setting>
      <setting name="Description" serializeAs="String">
        <value>Launcher</value>
      </setting>
      <setting name="MaxPlayers" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="PlayerUID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlayerUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="PlayerProfilephotoPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ManuallyCreated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OldName" serializeAs="String">
        <value>Launcher</value>
      </setting>
      <setting name="Ayar" serializeAs="String">
        <value />
      </setting>
      <setting name="ThemeIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CreateShortcut" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsFirst" serializeAs="String">
        <value>True</value>
      </setting>
    </Launchwares.Properties.Settings>
  </userSettings>
</configuration>
